{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block content %}

<div style="clear: both;">
  <div style = "width:370px">
    <h1 style="float:center; text-align:center;"> Live measurements </h1>
    <div style="padding: 5px 5px 5px 5px;  float:left; ">
      <div id="inside" style="border: 8px solid; width:150px; text-align: center; background-color:#3a3d3b; color:#8f9491;   font-size: 30px;">
        <label> Inside : </label> <br/>
        <label id="temp_in" style="font-size: 40px;"></label><br/>
        <label id = "hum_in" style="font-size:40px;"></label><br/>
        <label id = "abs_hum_in" style="font-size:40px;"></label><label style="font-size:20px">g/m³</label>
        </div> 
    </div>
    <div style="padding: 5px 5px 5px 5px ; float:left;">
      <div id="outside" style="border: 8px solid; width:150px; text-align: center; background-color:#3a3d3b; color:#8f9491;   font-size: 30px;">
        <label> Outside : </label> <br/>
        <label id="temp_out" style="font-size: 40px;"></label><br/>
        <label style="font-size:40px" id="hum_out"></label><br/>
        <label style="font-size:40px" id="abs_hum_out"></label><label style="font-size:20px">g/m³</label>
      </div>
    </div>
  </div>
  <iframe    style="float: right;" scrolling="no" width="334" height ="175" frameborder="0" marginwidth="0" marginheight="0" src="https://www.meteo.be/services/widget/.?postcode=1348&nbDay=6&type=4&lang=fr&bgImageId=14&bgColor=567cd2&scrolChoice=0&colorTempMax=A5D6FF&colorTempMin=ffffff"></iframe>
</div>
<div style="clear:both"></div>
<br/>
<div>
  <h1> News </h1>
  <div style="border: 5px solid #0057a2;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; background-color:#0057a2">
  <a href="https://www.rtbf.be/info" title="Retour à l'accueil">
    <img style="width:150px;" src="https://www.static.rtbf.be/news/common/images/logo-white-200x56.png" alt="RTBF.be" class="img-responsive"></a> <br />
    <label style="font-size: 22px; color:#ffffff"><b><a href="{{data['RTBF'][1]}}" style="text-decoration: none; color:#ffffff">{{data["RTBF"][0]}}</a></b></label> <br/>
  </div>
  <br/>
  <div style="border: 5px solid #052962;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; background-color:#052962;">
    <div style="width:150px;">
    <a href="https://www.theguardian.com/international" class="new-header__logo" data-link-name="nav2 : logo">
      <span class="inline-the-guardian-logo inline-logo ">
      <svg viewBox="0 0 297 95">
      <path fill="#ffffff" d="M66.8 50.7l5-2.6V8.4H68l-9.3 12.4h-1L58.2 7h40.5l.6 13.8h-1.1L89 8.4h-3.9V48l5 2.7V52H66.9v-1.3zm37-1.8V5L100 3.5v-.9L114.2.1h1.5v20.8l.3-.4a19 19 0 0 1 12.2-4.5c6.2 0 9 3.5 9 10v23l3.3 1.7V52H122v-1.3l3.4-1.8V26c0-3.6-1.6-5-4.6-5a7.8 7.8 0 0 0-4.9 1.6V49l3.3 1.8V52h-18.5v-1.2zm48.4-13.4c.4 7.2 3.6 12.8 11.4 12.8 3.7 0 6.3-1.7 8.8-3v1.5a17.4 17.4 0 0 1-13.6 6.2c-12 0-18-6.6-18-18.1 0-11.3 6.6-18.3 17.4-18.3 10.2 0 15.5 5 15.5 18.4v.4zm-.2-1.7l10.5-.7c0-9-1.5-15-4.6-15-3.3 0-5.9 7-5.9 15.6M0 69.6c0-19.1 12.7-26 26.8-26 6 0 11.6 1 14.8 2.3l.3 13.4h-1.4l-8.3-13a12.2 12.2 0 0 0-5.2-.8c-7.5 0-11.3 8.7-11.2 22.9.1 17 3 24.7 10 24.7a10.7 10.7 0 0 0 4.1-.7V74.2l-4.5-2.6V70h22v1.7l-4.5 2.5v18A49.2 49.2 0 0 1 26.2 95C10.2 95 0 87.5 0 69.6m47.1-9v-1L62 57l1.6.1v29c0 3.6 1.7 4.6 4.5 4.6a6 6 0 0 0 4.8-2.2v-26l-4-1.8v-1.2L83.6 57l1.4.2v33.3l4 1.6v1.1L74.4 95l-1.4-.1v-4.4h-.4A16.4 16.4 0 0 1 61.5 95C54.4 95 51 90.8 51 84.5v-22zm94.5-3.7l1.2.1v10.8h.4c1.6-7.9 5-10.8 9.3-10.8a4.7 4.7 0 0 1 1.8.3v11a12.6 12.6 0 0 0-3-.3 18.6 18.6 0 0 0-8 1.6v21.2l3.4 1.9V94h-19.3v-1.3l3.5-1.9v-29l-4-1.2v-1zm37.1.9V46.5l-4-1.5v-.9l15-2.7 1.3.2v48.8l4.2 1.5V93l-14.8 2-1.1-.1v-4h-.4a13.1 13.1 0 0 1-9.8 4.1c-8 0-13.9-6.1-13.9-18.7 0-13.2 6.9-19.7 17.2-19.7a14.7 14.7 0 0 1 6.3 1.2m0 31.2V60a5.5 5.5 0 0 0-4-1.3c-4 .1-6.5 6.2-6.5 16.9 0 9.6 1.8 15 7 14.8a5.2 5.2 0 0 0 3.5-1.3M211.5 57h1.3v34l3.4 1.8V94H197v-1.3l3.4-1.9V62.4l-4-1.7v-1.1zm1.4-9.2a6.4 6.4 0 0 1-6.6 6.3 6.3 6.3 0 1 1 0-12.6 6.5 6.5 0 0 1 6.6 6.3m46.3 43.1V62l-4-1.4v-1.4l14.7-2.8 1.5.2v4.3h.4a19.4 19.4 0 0 1 12.5-4.7c6.4 0 9.3 3 9.3 9.8v24.8l3.4 1.9V94h-19.2v-1.3l3.5-1.9v-24c0-3.8-1.6-5.3-4.7-5.3a8 8 0 0 0-5 1.7v27.6l3.3 1.9V94h-19.1v-1.3zm-21.3-18V68c0-7.3-1.5-9.6-6-9.6a11.8 11.8 0 0 0-1.6 0l-8 11h-1.1v-10a43.3 43.3 0 0 1 13.5-2.4c9.8 0 15.5 2.7 15.5 11v23.5l3.5 1v.9a15 15 0 0 1-7.2 1.6c-4.9 0-7.2-1.6-8.3-4.2h-.3c-2 2.8-5 4.3-9.6 4.3-5.8 0-9.8-3.6-9.8-9.9 0-6 3.8-9.4 11.5-10.8zm0 16.2V74.5l-2.4.2c-3.9.3-5.2 2.7-5.2 8.2 0 5.9 1.9 7.4 4.6 7.4a3.6 3.6 0 0 0 3-1.3M109.7 72.7V68c0-7.3-1.6-9.7-6.1-9.7a11.8 11.8 0 0 0-1.5.2L94 69.2h-1v-10a43.3 43.3 0 0 1 13.4-2.3c9.8 0 15.5 2.7 15.5 11v23.5l3.5 1v.9a15 15 0 0 1-7.2 1.6c-4.9 0-7.2-1.6-8.3-4.2h-.3c-2 2.8-5 4.3-9.5 4.3-5.9 0-9.8-3.6-9.8-9.9 0-6 3.7-9.4 11.4-10.8zm0 16.3V74.5l-2.5.2c-3.8.3-5.2 2.7-5.2 8.2 0 5.9 2 7.4 4.6 7.4a3.6 3.6 0 0 0 3-1.3"></path>
      </svg>
      </span>
      </a>
      </div>
      <label style="font-size: 22px;"><b><a href="{{data['guardian'][1]}}" style="text-decoration: none; color:#ffffff">{{data["guardian"][0]}}</a></b></label>
  </div>
</div>
<div style ="clear:both; height:20px">&nbsp;</div>
<div>
  <h1 style="padding: 5px 5px 15px 10px"> <a href = "https://airallergy.sciensano.be/fr"><img style = "width:15%; padding: 5px 5px 0px 10px" src="{{url_for('static',filename='images/sciensano_logo_225w_0.png')}}"/></a> Info allergies </h1>
  <div style = "width:80%;border-style: solid;"> 
    {{data['allergies'] | safe}}
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
{% endblock %}
